* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    
}

body, html{
    height: 100%;
}

.bg{
    background: url("/images//WebMaterial/outdoor/BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}
