@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgba(200,202,124,255);
    font-family: 'Noto Sans Thai', sans-serif;

}

header {
    margin-top: 60px;
}

#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.header{
    font-size: 8rem;
}

.basket{
    top:rem;
    position: relative;
    width: 30rem;
}

@media (max-width: 1440px) {
    header {
        margin-top: 60px;
    }
    
    .header{
        font-size: 8rem;
    }
    
    .basket{
        top:3rem;
        position: relative;
        width:30rem;
    }
}

@media (max-width: 768px) {
    header {
        margin-top: 100px;
    }

    .header{
        font-size: 6rem;
    }

    .basket{
        position: relative;
        width: 25rem;
    }

}

@media (max-width: 400px) {
    .header{
        font-size: 3rem;
    }

    .basket{
        position: relative;
        width: 17rem;
        margin-top: 12rem;
    }

}