@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #FCF8BC;
    font-family: 'Noto Sans Thai', sans-serif;

}

header {
    margin-top: 60px;
}

/*#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }*/

.header{
    font-size: 8rem;
    z-index: 2;
}

.basket{
    position: relative;
    width: 30rem;
}

.basket:hover {
    width: 31rem;
    transition: .2s;
}

.cloud .cloud-left {
    opacity: 60%;
    display: flex;
    position: absolute;
    left: 0;
    top: 35rem;
    z-index: -1;
}

.cloud .cloud-right {
    opacity: 60%;
    display: flex;
    position: absolute;
    right: 0;
    top: 30px;
}

.cloud .cloud-left img {
    animation: cloudl 15s linear infinite;
}

.cloud .cloud-right img {
    animation: cloudr 15s linear infinite;
}

@keyframes cloudl {
    0%{
        transform: translateX(-50vh);
    }
    100%{
        transform: translateX(250vh);
    }
}

@keyframes cloudr {
    0%{
        transform: translateX(60vh);
    }
    100%{
        transform: translateX(-250vh);
    }
}

@media (max-width: 1440px) {
    header {
        margin-top: 60px;
    }
    
    .header{
        font-size: 8rem;
    }
    
    .basket{
        top:3rem;
        position: relative;
        width:30rem;
    }
}

@media (max-width: 768px) {
    header {
        margin-top: 100px;
    }

    .header{
        font-size: 6rem;
    }

    .basket{
        position: relative;
        width: 25rem;
    }

}

@media (max-width: 400px) {
    .header{
        font-size: 3rem;
    }

    .basket{
        position: relative;
        width: 17rem;
        margin-top: 12rem;
    }
}
