* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

}

.bg{
    background: rgba(28,39,76,255);

}

img {
    right: 0%;
    float: right;
    width: 85%;
    margin-top: -10%;
    margin-right: -24%;
    position: absolute;
    
}

.shirt{

}

.tak{

}

.container{
    height:100vh;
}

.province {
    /* width: 50%; */
    font-size: 10vw;
}

.amphoe {
    font-size: 7vw;
}

.data{
    font-size: 3.6vw;
    padding-left: 2%;
    width: 50%;
    font-size: 3.6vw;
    padding-left: 2%;
    width: 50%;
}

@media (max-width: 1440px) {
}

@media (max-width: 768px) {
    img {
        float: right;
        width: 100%;
        margin-top: -8%;
        margin-right: -8%;
        
    }
    
}

@media (max-width: 400px) {


}